body {
  background-color: rgb(207, 207, 207);
  ul {
    list-style-type: none;
  }
  li {
    margin-bottom: 25px;
    background-color: rgb(177, 175, 175);
    color: rgb(138, 4, 4);
    padding: 10px;
  }
}
